work_dir: '/cluster/work/users/yingyue/topaz4_reanalysis'   ##working directory for the experiment

job_submit:
  host: betzy
  project: nn2993k
  queue: normal
  scheduler: slurm
  run_separate_jobs: True

nproc: 512        ##total number of processors

nens: 10
run_forecast: True
run_analysis: True
run_diagnose: False
debug: False

time_start: '202212200000'       ##start time of the experiment, format ccyymmddHHMM
time_end: '202212270000'         ##end time of the experiment
time_analysis_start: '202212200000' ##start time of the first analysis cycle
time_analysis_end: '202212270000'   ##end time of the last analysis cycle
cycle_period: 168                 ##cycle period, in hours

obs_time_steps: [0]
obs_time_scale: 0
state_time_steps: [0]
state_time_scale: 0

grid_def:
  type: 'topaz.v4'

state_def:
- name: 'ocean_velocity'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_temp'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_saln'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_layer_thick'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_mixl_depth'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_b_velocity'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_b_press'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'seaice_conc'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'seaice_thick'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_surf_temp'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'
- name: 'ocean_surf_height'
  model_src: 'topaz.v4'
  var_type: 'field'
  err_type: 'normal'

obs_def:
- name: 'seaice_conc'
  dataset_src: 'osisaf.ice_conc'
  model_src: 'topaz.v4'
  obs_window_min: -6
  obs_window_max: 0
  err:
    type: 'normal'
    std: 0.2
  hroi: 100
  vroi: 2
  troi: 24
  impact_on_state:
     ocean_temp: 1.0

use_synthetic_obs: False

dataset_def:
  osisaf.ice_conc:
    dataset_dir: '/cluster/projects/nn2993k/sim/data/OSISAF_ice_conc/polstere'

model_def:
  topaz.v4:
    config_file: '/cluster/home/yingyue/code/NEDAS/models/topaz/v4/default.yml'
    basedir: '/cluster/work/users/yingyue/TP4b0.12'
    model_env: '/cluster/home/yingyue/code/NEDAS/models/topaz/env/setup.src'
    nproc_per_run: 256   ##number of processors to run a forecast
    nproc_per_util: 50
    walltime: 3600     ##walltime in seconds
    restart_dt: 168
    forcing_dt: 6
    ens_run_type: scheduler
    use_job_array: False
    ens_init_dir: '/cluster/work/users/yingyue/TP4b0.12/data'
    truth_dir: ''

perturb:

assim_mode: 'batch'
filter_type: 'ETKF'

inflation:
  type: ''
  adaptive: False
  coef: 1.0

localization:
  htype: 'GC'
  vtype: 'GC'
  ttype: 'GC'

